@page "/mainMic/principal"
@using PortfolioAndBlog.Data
@using PortfolioAndBlog.Models

@*<section class="img-wrap">
    <div class="page-content">
        
    </div>    
</section>*@

<div id="home">   
    <h1 class="lg-heading">About <span class="text-lc-secondary">Me</span></h1>
    <h2 class="sm-heading"></h2>

    <div class="home-info">
        <img src="img/portrait.jpg" alt="John Doe" class="bio-image" />
        <div class="bio">
            <h3 class="text-lc-secondary text-uppercase fw-bold pt-2 pb-4">Biography</h3>
            <p class="text-white">
                .NET Developer with 5+ years of experience developing Web, Console Applications, and WinForms using .NET Core,
                ASP.NET MVC, C#.Net and MS SQL. Skilled in architecting and executing customized, data-driven solutions, hosted
                on-premises and Cloud. Knowledge of Entity Framework Core, Razor pages, Blazor server, Blazor WebAssembly, Dapper, JSON,
                Visual Studio, and Postman.
                </p>
        </div>
    </div>    
</div>