@page "/mainMic/about"
@using PortfolioAndBlog.Models
@*<section class="img-wrap">
	<div class="page-content">
		<h3>Home Page for Blazor</h3>
	</div>    
</section>*@
<div id="about">
	<h1 class="lg-heading">My <span class="text-lc-secondary">Work</span></h1>
	<h2 class="sm-heading"></h2>
	<div class="about-info">
	   <div class="job job-1">
			<h3 class="topHead">WORK EXPERIENCE</h3>
			<h4>
			  Application Developer, Kimball Electronics,
			  Tampa, FL
			</h4>
			<span class="workedDate">Sept 2020 – Current</span>
			<p>
			  Primary Responsibilities:
			</p>
			<ul>
				<li>
				Developed a .Net 5 MVC website to replace a legacy ASP.NET VB.net website requested by a client, also making changes 
				from client requests. Using DI, Onion Architecture, Hangfire Task Schedule, Serilog Logging on file and a Database this 
				help the client to move forward with the latest technology available.
				</li>
				<li>
				In charge of Deploying to IIS an application created on Sencha (Javascript Framework) as well to do the necessaries 
				changes on a WebAPI (Net Framework 4.6) to be deployed into the same IIS and be able to connect with the Sencha Application 
				and vice versa, also in charge of testing manually the Sencha Application.
				</li>
				<li>
				Increase productivity of the IT Department an 83.3% by developing a .Net 5 Console App that takes a 12 min weekly manual 
				process to a 2 min automated weekly process. Using Coravel open-source task schedule for managing weekly run, use Dapper, 
				Onion Architecture and DI. *
				</li>
				<li>
				Developed a Net 5 Razor Website where increases to the company an 80% of productivity by moving three SSIS manual process 
				to three clickable button, where will process the same task of reading multiple spreadsheets and update multiples tables 
				but faster. Used Dapper, Notify Toaster for visual Confirmation. *
				</li>
				<li>
				Developed a Net Core 3.1 Console App that increases company productivity by 96.6%, where the app transforms an old 
				format XML file created by a legacy system to a new format XML file to be in the new system. Using Dapper, DI 
				and AutoMapper. *
				</li>
				<li>
				Increase productivity of the IT Dept. a 66.6% by Developing a Net Core 5 MVC website for the IT Dept. where it replaces 
				their Inventory Spreadsheet with an Inventory website connecting to their own dedicated API and a Controller dedicated 
				to Json calls to use on charts, also use an AdminLTE 3, Bootstrap, SweetAlert, Toaster, JQuery, Datatable, chart.js 
				plugins libraries. *
				</li>
				<li>
				Investigated, debugged and fixed applications problems reported by senior developer or clients to ensure optimal 
				development environment.
				</li>
				<li>
				Create Personal Websites and APIs as mockups of API Versioning, API Pagination, use of AutoMapper with API, use of 
				CQRS with MediatR, gRPC, Hangfire, Coravel, Razor websites, Serilog logging, Toast Notifications, signalR, Blazor.
				</li>
			</ul>
		</div>
		<div class="job job-2">
			<h4>
				Junior Software Developer, Tenex Software Solution,
				Tampa, FL
			</h4>
			<span class="workedDate">Jun 2020 – Sept 2020</span>
			<p>
				Primary Responsibilities:
			</p>
			<ul>
				<li>Develop code per detailed specifications using specified programming languages, tools, and techniques
				under the direction of the project manager or team leader.</li>
				<li>Developing software components of the solution with other developers on the team using Azure DevOps (TFS)
				for committing my changes.</li>
				<li>Worked on small assigned tasks via Board on Azure DevOps.</li>
				<li>Investigated, debugged and fixed applications problems reported by quality assurance to ensure optimal
				development environment.</li>
				<li>Worked with MySQL Databases for creating, editing query and store procedures.</li>
				<li>Use datasets and ADO.Net to retrieve data from the database.</li>
			</ul>
			<h4>
				Junior Software Developer, Mid Atlantic Finance,
				Clearwater, FL
			</h4>
			<span class="workedDate">Jul 2016 – March 2020</span>
			<p>
				Primary Responsibilities:
			</p>
			<ul>
				<li>Boosted the productivity of the Collection Department by 85% daily by creating a Win Forms C# app where
				they search a customer account, export the information to a PDF, and mailing it.</li>
				<li>Developed an ASP.NET MVC website using Entity Framework where the user can search and merge two accounts
				based on the user criteria, improved user productivity by 35%, and company database storage space by a 57%.
				</li>
				<li>Developed an ASP.NET MVC website using Entity Framework where the user searches for a range of accounts,
				and it calculates the rating using an existing .Net library, allowing the user to update them in bulk,
				saving user’s time by a 73%. Also, executed the deployment into their IIS Server</li>
				<li>Maximized the IT personnel 25 minutes every month by Developing a monthly Task on a C# console application
				where search and copy PDF files from one location to another.</li>
				<li>Developed a Win Forms app in C# that increase productivity by 45% by allowing the IT Department to add,
				modify, and search printer’s information on a SQL Server using ADO.NET.
				Developed a program in C# allowing the IT Department to resolve regular open tickets, it increases their
				productivity by 55%.</li>
			</ul>
		</div>
		<div class="job job-3">           
			<!-- <h6>Front End Developer</h6> -->
			<h3 class="topHead">TECHNICAL SKILLS</h3>
				<ul>
					<li>
					Highly proficient in development systems and core languages of C# language.
					</li>
					<li>
					Expertise in operating Visual Studio .NET for testing and
					debugging systems.
					</li>
					<li>
					Proficient in .Net 5, .NET Core 3.1, 3.0, 2.2, ASP.NET, .NET Framework 4.6/4.7.1+, and IIS 7.0
					</li>
					<li>
					Proficient in HTML5, CSS, JavaScript, Bootstrap, JQUERY, Ajax.
					</li>
					<li>
					Proficient in JSON, RESTful APIs, LINQ.
					</li>
					<li>
					Proficient on Azure DevOps using Git commands and TFS using VS Team Explorer
					</li>
					<li>
					Proficient in Database Design, scripting, SSIS and store procedure using T-SQL and SQL Server.
					</li>
					<li>
					Proficient in Project Lifecycle Development, and QA testing.
					</li>
					<li>
					Skilled at working with Docker, Unit Testing and Kubernetes.
					</li>
					<li>
					Well versed in working with Linux, Windows operating systems on PC
					and Servers, as well as Office 2016 and 2019.
					</li>
					<li>
					Skilled at working with web services of SOAP, JSON and XML.
					</li>
					<li>
					Knowledge of Angular 6+, TypeScript, React and DevExtreme (DevExpress Web).
					</li>
					<li>
					Knowledge of AWS EC2, AWS CloudFormation, AWS S3, AWS Elastic Beanstalk, AWS RDS, AWS Route 53, Scrum,
					RDBMS, MySQL.
					</li>
					<li>
					Knowledge of Google Maps API, Twilio API
					</li>
				</ul>
			
			<hr>
			<h3 class="topHead">EDUCATION</h3>
			<!-- <h6>Graphic Designer</h6> -->            
			<p>
				Bachelor of Science in Information Technology,
				<span class="school"> University of South Florida, Tampa, FL</span>
				<span class="education">2016 - 2020</span>
			</p>
			<p>
				Associate in Science in Information Technology,
				<span class="school">Bergen Community College, Paramus, NJ</span>
				<span class="education">2011 - 2014</span>
			</p>
			<hr />
			<h3 class="topHead">RESUME</h3>
			<p>
				For more projects and more information. You can download my RESUME
				<a href="./files/DEV_Resume_Luis Campuzano.pdf" download="DEV_Resume_Luis Campuzano.pdf">
				<span class="linkColor">Using this link</span></a>
			</p>
		</div>
	</div>
</div>