.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "job1 job2 job3"
        /*"job1 job4 job3"*/
        ;
    grid-template-columns: repeat(3, 1fr);
}

    .about-info .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .about-info .job-1 {
        grid-area: job1;
    }

    .about-info .job-2 {
        grid-area: job2;
    }

    .about-info .job-3 {
        grid-area: job3;
    }

    .about-info .job {
        background: #515151;
        padding: 0.5rem;
        border-bottom: #761aee 5px solid;
    }

    .about-info .education {
        color: #761aee;
        font-weight: 700;
        padding-left: 25px;
    }

    .about-info .school {
        font-style: italic;
        padding-left: 25px;
    }

    .about-info .topHead {
        color: #761aee;
        font-weight: bold;
    }


/*Small Screen ???*/
@media screen and (max-width: 900px) {
    .about-info {
        grid-template-areas: "job1"
            "job2"
            "job3";
        grid-template-columns: 1fr;
    }
}

/*Big Screen ??*/
@media (min-width: 641px) {
    /*.about-info {
        grid-template-areas: "job1"
            "job2"
            "job3";
        grid-template-columns: 1fr;
    }*/
}