@page "/mainMic/work"

<div id="work">
    <h1 class="lg-heading">My <span class="text-lc-secondary">Projects</span></h1>
    <h2 class="sm-heading">
        Check some of my Projects...
    </h2>
    
    <div class="projects text-white">
        <div class="item">
          <a href="#!">
            <img width="500" height="300" src="img/projects/RatingSystem.gif" alt="Project" data-toggle="modal" 
            data-target="#pictureModal" data-text="Rating System .Net Core MVC" />
          </a>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark btn-block">
                    <i class="fas fa-eye"></i> Rating Systems
                </a>
            </div>
            <div>
                <p>An MVC website project using ASP.NET Framework where it searches on
              the database using Entity Framework for a range of accounts, calculate
              the rating using a library created by another developer and shows on a
              table information retrieved, once the user updates the rating the
              application will write back to another table, i also was in charge of
              deployment to the IIS Server.</p>              
            </div>
        </div>
        <div class="item">
            <div>
                <a href="#!">
                    <img width="500" height="300" src="img/projects/WalzUnzip.gif" alt="Project" data-toggle="modal" 
                    data-target="#pictureModal" data-text="Unzip Win Form" />
                </a>
            </div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark btn-block">
                    <i class="fas fa-eye"></i> Walz UnZip
                </a>
            </div>
            <div>
                <p>An windows forms on C# and .Net Framework where users can see, select,
                and extract a zip file into their local or Domain user Desktop on
                their machine or server from a list of zip files within a network
                location</p>
            </div>
        </div>
        <div class="item">
            <div>
              <a href="#!">
                <img width="500" height="300" src="img/projects/MailMerge.gif" alt="Project" data-toggle="modal" 
                data-target="#pictureModal" data-text="Mail Merge Win Form" />
              </a>
            </div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark btn-block">
                    <i class="fas fa-eye"></i> Mail Merge
                </a>
            </div>
            <div>
                <p>A visual interface program in C# that increase users productivity by
                55% by letting the users create spreadsheets base on accounts or
                dealers from a database and save it automatically on an spreadsheet,
                so other user can create a mail merge document and print them.</p>
            </div>          
        </div>
        <div class="item">
            <div>
                <a href="#!">
                    <img width="500" height="300" src="img/projects/gifForGitHub.gif" alt="Project" data-toggle="modal" 
                    data-target="#pictureModal" data-text="SQL Search Win Form" />
                </a>
            </div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark btn-block">
                    <i class="fas fa-eye"></i> SQL Search
                </a>
            </div>
            <div>
                <p>A program in C# allowing the IT Department to resolve regular open
                tickets, it increases their productivity by 45%</p>
            </div>
        </div>
        <div class="item">
            <div>
                <a href="#!">
                    <img width="500" height="300" src="img/projects/CompanyDirectory.gif" alt="Project" data-toggle="modal"
                      data-target="#pictureModal" data-text="Company Directory .Net MVC" />
                  </a>
            </div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark btn-block">
                    <i class="fas fa-eye"></i> Company Directory
                </a>
            </div>
            <div>
                <p>Increase company user’s searches by 30% by developing an ASP.NET
                  website where it searches for Windows Active Directory Users and
                  update a DataGrid with the information obtained so users can look for
                  any employee on the Intranet.</p>
            </div>          
        </div>
        <div class="item">
            <div>
                <a href="#!">
                    <img width="500" height="300" src="img/projects/Admin.gif" alt="Project" data-toggle="modal" 
                    data-target="#pictureModal" data-text="Admin Win Form" />
                </a>
            </div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark btn-block">
                    <i class="fas fa-eye"></i> Admin
                </a>
            </div>
            <div>
                <p>A visual interface program in C# allowing the Collection Department to
                search an account and based on the State, creates a PDF with the
                customer information, with option of print it, this increase their
                productivity by 85% daily.</p>
            </div>              
        </div>
        <div class="item">
            <div>
                <a href="#!">
                    <img width="500" height="300" id="gallery" src="img/projects/otherProjects.jpg" alt="Project" data-toggle="modal"
                      data-target="#pictureModal" data-text="Others Projects" />
                </a>
            </div>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-dark btn-block">
                    <i class="fas fa-eye"></i> Others Projects
                </a>
            </div>
            <div>
                <p>Others Projects have been created and will be added later.</p>
            </div>          
        </div>
    </div>
</div>