@*@page "/"*@

<PageTitle>Luis Campuzano Portfolio</PageTitle>

@*<div style="background-image: url('./img/background.jpg')">
    
        <h1 class="text-danger">Hello, world!</h1>
        Welcome to Luis Campuzano Portfolio.

</div>*@

@*imagcontainer*@

@*<section id="bg-img">
    
</section>*@


@*<section id="bg-img">
    <h1 class="lg-heading">
        Luis <span class="text-secondarys">Campuzano</span>
    </h1>
    <h2 class="sm-heading">
        .Net Developer and C# Programmer, IT Professional & Entrepreneur
    </h2>
    <div class="icons">
        <a href="https://www.linkedin.com/in/luis-campuzano-45164a86" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/lcampuzano10/" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
</section>*@

<section class="img-wrap">
    <div class="container px-4 py-5 page-content" id="hanging-icons">
        <div class="pb-2 border-bottom">
            <h1 class="lg-heading">
                Luis <span class="text-lc-secondary">Campuzano</span>
            </h1>
            <h2 class="sm-heading">
                .Net Developer and C# Programmer, Consultant & Entrepreneur
            </h2>
            <div class="icons">
                <a href="https://www.linkedin.com/in/luis-campuzano-45164a86" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/lcampuzano10/" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
         </div>
        @*<h2 class="pb-2 border-bottom">Hanging icons</h2>*@
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start p-2">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                   @* <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>*@
                    <img src="/icon-192.png" width="60" height="60" alt="blazor icon" />
                </div>
                <div class="text-white">
                    <h2>Blazor Wasm Portfolio</h2>
                    <p>In this section I implemented my Portfolio using Blazor Wasm, you can find in it about me, my projects, and 
                        how to contact me.</p>
                    <a href="/mainMic/aboutmecode" class="btn button-lc">
                    Go....
                    </a>
                </div>
            </div>
            
            @*<div class="col d-flex align-items-start p-2">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <img src="/icon-192.png" width="60" height="60" alt="blazor icon" />
                </div>
                <div>
                    <h2>MudBlazor Portfolio (Coming...)</h2>
                    <p>In this section I implemented my Portfolio using MudBlazor, you can find in it about me, my projects, 
                        and how to contact me.</p>
                    <a href="#" class="btn button-lc">
                    Go...
                    </a>
                </div>
            </div>*@
            @*<div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
                </div>
                <div>
                    <h2>Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                    Primary button
                    </a>
                </div>
            </div>*@
        </div>
    </div>
</section>
