@page "/contact"
@page "/PortfolioBlazorWasm/contact"

<PageTitle>Luis Campuzano Portfolio - Contact</PageTitle>

<div id="contact">
    <h1 class="lg-heading">
        Contact <span class="text-lc-secondary ">Me</span>
    </h1>
    <h2 class="sm-heading">
        You can Reach me at...
    </h2>
    <div class="boxes">
        <div class="emailDiv text-white">
          <span class="text-lc-secondary-contact fw-bold email1">Email:</span>
          <span class="smText email2">luis14school14@gmail.com</span>
        </div>
        <div class="locationDiv text-white">
          <span class="text-lc-secondary fw-bold location1">Location:</span>
          <span class="smText location2">Tampa, FL 33614</span>          
        </div>
    </div>
</div>
