@page "/"
<PageTitle>Luis Campuzano Portfolio - Home</PageTitle>

<section>
    <div class="container px-4 py-5 page-content" id="hanging-icons">
        <div class="pb-2 border-bottom">
            <h1 class="lg-heading heading-separator">
                <span class="separator1">Luis </span> <span class="text-lc-secondary separator2">Campuzano</span>
            </h1>
            <h2 class="sm-heading">
                .Net Developer and C# Programmer, Consultant & Entrepreneur
            </h2>
            <div class="icons">
                <a href="https://www.linkedin.com/in/luis-campuzano-45164a86" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/lcampuzano10/" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
        </div>        
    </div>
</section>